@tailwind base;
@tailwind components;
@tailwind utilities;
.microphone {
  background: #25646a !important;
}
.lc-texth1 {
  color: #25646a;
  margin-bottom: 5px;
}
/* .msg-icon {
  display: grid;
  justify-content: center;
} */
.lc-logo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
